{{ define "receipt" }}
<div class="w-full h-full flex flex-col items-start justify-start gap-2.5 bg-pos_whi">
  <h2 class="text-xl text-pos_bla font-bold">Order Details</h2>

  <div class="w-full flex items-center justify-between">
    <h3 class="text-2xl text-pos_bla font-black">{{ .Name }}</h3>
    <h5 class="text-base text-pos_bla font-semibold">{{ .Status }}</h5>
  </div>

  <div
    class="w-full h-max max-h-[85%] flex flex-col items-start justify-start gap-1.5 p-3 overflow-y-scroll border-2 border-pos_lgh/15 mono">
    {{ template "receipt_card" .}}
  </div>

  <div class="w-full flex flex-col items-start justify-start gap-5">
    <button class="w-full flex items-center justify-center py-3 text-pos_whi rounded-xl bg-pos_col">Print
      Receipt</button>
  </div>
</div>
{{ end }}
