{{ define "order_row" }}
<tr class="even:bg-pos_lgh/15">
  <td class="px-4 py-2 text-left text-base scolor font-black">{{ .Name }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-medium">{{ .FormattedDateTime }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .CustName }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .CustNumber }}</td>
  <td class="px-4 py-2 text-left text-sm scolor font-bold uppercase">
    {{if eq .Type "DineIn"}}
    {{if .Destination}}
    <strong>{{.Destination}}</strong>
    {{else}}
    <span class="text-pos_bla">No Tables Available</span>
    {{end}}
    {{else}}
    {{.Destination}}
    {{end}}
  </td>
  <td class="px-4 py-2 text-left text-sm scolor font-bold uppercase">{{ .Type }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-normal">{{ .Items }}</td>
  <td class="px-4 py-2 text-left text-sm scolor font-bold uppercase status">{{ .Status }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-semibold">{{ .Cost }}</td>
</tr>
{{ end }}

{{ define "product_row" }}
<tr class="even:bg-pos_lgh/15">
  <td class="px-4 py-2 text-left text-base scolor font-normal">{{ .Name }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-normal">{{ .Description }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-normal">{{ .Price }}</td>
  <td class="px-4 py-2 flex items-start justify-center"><img src="{{ .Image }}" alt="image of product"
      class="size-9 object-center object-cover rounded-sm"></td>
</tr>
{{ end }}

{{ define "table_row" }}
<tr class="even:bg-pos_lgh/15">
  <td class="px-4 py-2 text-left text-base scolor font-normal">{{ .Name }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-normal">{{ .Capacity }}</td>
  <td class="px-4 py-2 text-left text-base text-pos_bla font-bold scolor state">
    {{if eq .State "Available"}}
    <span>Available</span>
    {{else if eq .State "Occupied"}}
    <span>Occupied</span>
    {{else if eq .State "Pending"}}
    <span>Pending</span>
    {{end}}
  </td>

  <td class="px-4 py-2 text-left text-base scolor font-bold">
    {{if .CurrentOrderName.Valid}}
    <span>{{ .CurrentOrderName.String }}</span>
    {{else if eq .State "Pending"}}
    <span>Cleaning Required</span>
    {{else}}
    <span>No Active Order</span>
    {{end}}
  </td>
</tr>
{{ end }}
