{{ template "head" . }}
<div x-data="orderApp()" @order-submitted.window="resetOrder()"
  class="relative w-[85%] h-full flex items-start justify-start gap-0">
  <main
    class="relative w-[70%] h-full flex flex-col items-center justify-start p-5 pb-11 mt-[70px] gap-5 bg-pos_bla/10">
    <div id="products-card" class="relative w-full h-full flex flex-col items-start justify-start pb-11 gap-2.5">
      <div class="w-full flex items-center justify-between">
        <h3 class="text-2xl text-pos_bla font-bold shrink-0">Search Meals</h3>
        <input type="search" id="searchInput" onkeyup="searchTable()" placeholder="Search..."
          class="mb-4 w-[75%] p-2 border border-pos_bla/25 rounded outline-none">
      </div>
      <section class="w-full grid grid-cols-3 justify-start gap-3 snap-mandatory snap-y scroll-pb-9 overflow-y-scroll">
        {{ range .products }}
        {{ template "product_card" .}}
        {{ end }}
      </section>
    </div>
  </main>

  <aside class="w-[30%] h-full flex flex-col items-start justify-start p-5 border-l-2 border-l-pos_lgh/25 bg-pos_whi">
    <div id="order-panel" class="w-full h-full">
      {{ template "order_form" . }}
    </div>
  </aside>
</div>

<div id="toast-container" class="fixed top-5 right-5 z-50 flex flex-col gap-1.5"></div>

<script>
  document.body.addEventListener('htmx:oobAfterSwap', (e) => {
    e.detail.target.querySelectorAll('.toast').forEach((toast) => {
      if (toast.dataset.timerSet) return;
      toast.dataset.timerSet = "true";
      setTimeout(() => toast.remove(), 5000);
    });
  });

  function searchTable() {
    const input = document.getElementById("searchInput").value.toLowerCase();
    const cards = document.querySelectorAll(".product_cards");

    cards.forEach(card => {
      const title = card.querySelector("h4");
      if (!title) return;
      const text = title.innerText.toLowerCase();
      card.style.display = text.includes(input) ? "" : "none";
    });
  };

  function orderApp() {
    return {
      items: [],
      quantities: {},
      orderType: 'Delivery',

      increase(name, price) {
        if (!this.quantities[name]) {
          this.quantities[name] = 0
        }
        this.quantities[name]++

        const existing = this.items.find(i => i.name === name)
        if (existing) {
          existing.quantity++
        } else {
          this.items.push({
            name: name,
            quantity: 1,
            unitPrice: price
          })
        }
      },

      decrease(name) {
        if (!this.quantities[name]) return
        this.quantities[name]--

        if (this.quantities[name] <= 0) {
          delete this.quantities[name]
        }

        const existing = this.items.find(i => i.name === name)
        if (!existing) return

        existing.quantity--

        if (existing.quantity <= 0) {
          this.items = this.items.filter(i => i.name !== name)
        }
      },

      resetOrder() {
        this.items = []
        this.quantities = {}
      }
    }
  }
</script>

{{ template "foot" . }}
