@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mono>* {
  font-family: "Google Sans Code";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "LINE Seed JP";
}

header,
aside,
nav,
menu,
section,
div,
main,
form,
footer {
  display: flex;
}
