@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mono>* {
  /* font-family: "M PLUS 1 Code"; */
  /* Iosevka+Charon+Mono */
  font-family: "Iosevka Charon Mono";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "LINE Seed JP";
}

header,
aside,
nav,
menu,
section,
div,
main,
form,
footer {
  display: flex;
}

@media print {
  main * {
    visibility: hidden;
  }

  /* Show only the receipt and its children */
  #receipt,
  #receipt * {
    visibility: visible;
  }

  /* Position the receipt at the very top-left of the printed page */
  #receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    border: none;
    box-shadow: none;
  }

  /* Specifically hide the 'Print' button on the actual paper */
  button {
    display: none !important;
  }
}
