<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=1367">
  <title>Point Of Sale - Products</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap"
    rel="stylesheet">

  <!-- icons -->
  <link href="/assets/hugeicons.css" rel="stylesheet">
  <link href="/assets/card.png" rel="shortcut icon" type="image/x-icon" />

  <link href="/css/output.min.css" rel="stylesheet">

  <script src="/js/alpine.min.js" defer></script>
  <script src="/js/htmx.min.js" defer></script>
  <script src="/js/main.js" defer></script>
</head>

<body class="bg-pos_bla h-screen flex items-start justify-center">
  <div class="relative w-screen aspect-[16/10] flex items-start justify-between gap-0 bg-pos_whi">
    <div class="w-full h-full flex flex-col gap-12">
      <div class="w-full h-full flex-col mx-auto bg-white p-4 rounded shadow">
        <input type="search" id="searchInput" onkeyup="searchTable()" placeholder="Search..."
          class="mb-4 w-full p-2 border border-pos_bla/25 rounded outline-none">

        <div class="w-full h-[93%] flex flex-col gap-0.5">
          <h2 class="text-pos_bla text-3xl font-bold mb-3">Products List</h2>

          <div class="w-full max-h-[93%] overflow-y-scroll">
            <table class="w-full divide-y divide-pos_bla border border-pos_lgh">
              <thead class="sticky top-0 bg-pos_bla">
                <tr class="text-xl text-pos_whi font-bold">
                  <th onclick="sortTable(0)" class="px-4 py-2 text-left cursor-pointer">Name</th>
                  <th onclick="sortTable(1)" class="px-4 py-2 text-left cursor-pointer">Description</th>
                  <th onclick="sortTable(2)" class="px-4 py-2 text-left cursor-pointer">Price</th>
                  <th onclick="sortTable(3)" class="px-4 py-2 text-left cursor-pointer">Thumbnail</th>
                </tr>
              </thead>
              <tbody id="products" class="divide-y divide-gray-200">
                {{ range .products }}
                {{ template "product_row" . }}
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Search functionality
    function searchTable() {
      const input = document.getElementById("searchInput").value.toLowerCase();
      const rows = document.querySelectorAll("tbody tr");

      rows.forEach(row => {
        const text = row.innerText.toLowerCase();
        row.style.display = text.includes(input) ? "" : "none";
      });
    }

    // Sort functionality
    function sortTable(n) {
      const table = document.getElementById("dataTable");
      let switching = true;
      let dir = "asc";
      let switchCount = 0;

      while (switching) {
        switching = false;
        const rows = table.rows;
        for (let i = 1; i < rows.length - 1; i++) {
          let shouldSwitch = false;
          const x = rows[i].getElementsByTagName("TD")[n];
          const y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir === "asc" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          } else if (dir === "desc" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchCount++;
        } else {
          if (switchCount === 0 && dir === "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
</body>

</html>
