<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=1367">
  <title>Point Of Sale - Reservations</title>

  {{ template "font" . }}

  <link href="/assets/hugeicons.css" rel="stylesheet">
  <link href="/assets/card.png" rel="shortcut icon" type="image/x-icon" />
  <link href="/css/output.min.css" rel="stylesheet">
</head>

<body class="bg-pos_bla h-screen flex items-start justify-center">
  <div class="relative w-screen aspect-[16/10] bg-pos_whi overflow-y-scroll">
    {{ template "navbar" . }}

    <div class="relative w-[93%] right-0 flex flex-col items-start justify-start bg-[#f5f6fa]">
      {{ template "topbar" . }}

      <div class="w-full flex flex-col items-center justify-center p-5 gap-5">
        <div class="w-full flex items-center justify-between">
          <h1 class="text-2xl text-pos_bla font-bold shrink-0">Reservations</h1>

          <div
            class="w-1/3 flex items-center justify-between p-1.5 gap-5 border border-pos_col/55 rounded-full bg-pos_whi">
            <i
              class="hgi hgi-stroke hgi-search-02 text-2xl text-pos_whi shrink-0 flex items-center justify-center size-10 rounded-full bg-pos_col border border-pos_col/45"></i>

            <input type="search" id="searchInput" onkeyup="searchTable()" placeholder="Search meals..."
              class="w-full outline-none">
          </div>
        </div>

        <div id="tables" class="w-full grid grid-cols-5 justify-start gap-x-3.5 gap-y-6">
          <a href="/pos/reservations/new"
            class="w-full aspect-square flex flex-col items-center justify-center gap-5 p-5 border-2 border-pos_col/45 border-dashed rounded-2xl overflow-clip bg-pos_whi self-center">
            <i
              class="hgi hgi-stroke hgi-calendar-add-02 size-11 text-3xl text-pos_whi flex items-center justify-center rounded-xl bg-pos_col"></i>
            <h4 class="w-full text-base text-pos_bla text-center font-semibold">Book Reservation</h4>
          </a>

          {{ if .reservations }}
          {{ range .tables }}
          {{ template "table_card" . }}
          {{ end }}
          {{ else }}
          <div class="text-base text-pos_pdg font-medium italic">No reservations yet. Click "New Reservation" to book
            one.
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <script>
    function searchTable() {
      const input = document.getElementById("searchInput").value.toLowerCase();
      const cards = document.querySelectorAll(".reserve_cards");

      cards.forEach(card => {
        const title = card.querySelector("h4");
        if (!title) return;
        const text = title.innerText.toLowerCase();
        card.style.display = text.includes(input) ? "" : "none";
      });
    };
  </script>
</body>

</html>
